version: "3.8"
services:
    heimdall:
        image: lscr.io/linuxserver/heimdall:latest
        environment:
            - PUID=1000
            - GUID=1000
            - TZ={{ tz }}
        volumes:
            - heimdall-config:/config
        ports:
            - 8080:80
        restart: unless-stopped
volumes:
    heimdall-config: